node_modules
.next
dist
coverage
uploads
.run-logs
.tmp
.vscode
expo-env.d.ts
web-build
.expo/
apps/mobile/.expo/
.turbo
.DS_Store
*.log
apps/api/uploads
apps/api/.env
apps/api/.env.docker
apps/web/.env.local
apps/mobile/.env
packages/*/dist
apps/*/package-lock.json
packages/*/package-lock.json

.vercel
